// tipografia
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$base-font: 'Roboto', sans-serif;
$bold: 700;
$normal: 400;

// cores
$base-color: #33aa00;
$base-white: #f2f2f2;
$base-gray: #f6f6f6;
$light-gray: #f6f6f6ff;
$base-dark: #333;
$base-black: #000;

// sombras e efeitos
$shadow: 4px 4px 24px #dddddd;