@import "../../styles/variables.scss";

.blogpostCard{
  background-color: #fff;
  padding: 1rem;
  box-shadow: $shadow;
  max-width: 309px;
  margin: 1em;
  a{
    text-decoration: none;
    border-color: #333;
  }
  .blogpostCardTitle{
    font-size: 1.2em;
    margin: 1rem 0;
    text-transform: uppercase;
    &:after{
      content: "";
      display: block;
      width: 20%;
      height: 1px;
      background-color: $base-color;
      margin: 1rem 0;
    }
  }
  hr{
    color: #333;
    max-width: 30%;
    align-self: flex-start;
  }
  .abstract{
    // font-size: 0.9em;
    margin: 1rem 0;
    color: #333;
    max-height: 3rem;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: wrap;
  }
  .blocpostCardImage{
    border-radius: 0.5rem;
  }
  .blogpostCardAuthor{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    .blogpostCardAuthorLine{ 
      display: flex;
      flex-direction: column;
      justify-content: center;
      .blogpostCardAuthorLineName{
        font-weight: bold;
      }
    }
  }
}