@import "../../styles/variables.scss";

.postList{
  display: flex;
  justify-content: center;
  .postListContainer{
    max-width: 1120px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1em;
  }
}