.header{
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
}
.headerNavbar{
  color: #ffffff;
  padding: 0 1rem ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  a{
    text-decoration: none;
  }

  .headerNavbarBrand{
    color: #33aa00;
    text-decoration: none;
  }
  .headerNavbarMenu{
    display: flex;
    align-items: center;
    flex-direction: row;
    .headerNavbarMenuIcon{
      // display: none;
      display: block;
      @media (max-width: 768px){
        font-size: 2rem;
        color: #33aa00;
      }
    }
    .headerNavbarMenuOpenInactive{
      a{
        padding: 1rem;
        font-size: 1rem;
        color: #333;
        &:hover{
          background-color: #fff55b;
        }
      }
      @media (max-width: 768px){
        display: none;
      }
    }
    .headerNavbarMenuOpenActive{
      display: block;
      background-color: white;
      position: fixed;
      z-index: 999999;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      .headerNavbarMenuClose{
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 2rem;
        color: #33aa00;
      }
      a{
        padding: 1rem;
        font-size: 1rem;
        color: #333;
        &:hover{
          background-color: #fff55b;
        }
      }
    }
  }
}

